/* INICIO */
.inicio{
    background-color: var(--secondary-color);
    border-radius: 0 0 40rem;
}

.inicio_container{
    align-items: center;
    color:var(--text-color);
    gap: 3rem;
}
.inicio_content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.inicio_img img{
    background-color: var(--primary-color);
    border-radius: 4rem 1rem;
    width: 320px;
}
/*=======Informacion=======*/
.information{
    display: block;
    
    position: relative;
    overflow: hidden;
}
.animacion{
    z-index: 1;
}
span.dos,
span.tres,
span.uno{
    border: 0;
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    animation: vuela 7s linear infinite normal both;
}
span.uno{
    width: 100px;
    height: 100px;
    background-color: var(--secondary-color);
    bottom: -100px;
}
span.dos{
    width: 70px;
    height: 70px;
    background-color: #cacaca;
    bottom: -70px;
}
span.tres{
    width: 50px;
    height: 50px;
    background-color: #878787;
    bottom: -50px;
}
span.cuatro{
    width: 20px;
    height: 20px;
    background-color: #7d7d7d;
    bottom: -20px;
}
@keyframes vuela{
    from{
        transform: rotate(0deg);
        bottom: 0;
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    to{
        transform: rotate(360deg);
        bottom: calc(100% + 100px);
    }
}
.animacion span:nth-child(1){
    left: 20%;
    animation-delay: 4s;
}
.animacion span:nth-child(2){
    left: 50%;
    animation-delay: .5s;
}
.animacion span:nth-child(3){
    left: 35%;
    animation-delay: 5s;
}
.animacion span:nth-child(4){
    left: 75%;
    animation-delay: 1s;
}
.animacion span:nth-child(6){
    left: 85%;
    animation-delay: 3s;
}
.animacion span:nth-child(7){
    left: 90%;
    animation-delay: 5s;
}
.animacion span:nth-child(8){
    left: 65%;
}
.animacion span:nth-child(9){
    left: 60%;
}
.animacion span:nth-child(10){
    left: 1%;
    animation-delay: 6s;

}
.animacion span:nth-child(11){
    left: 10%;
}
.animacion span:nth-child(12){
    left: 10%;
    animation-delay: 3s;
}



.information_container{
    flex-direction:row-reverse;
    gap: 3rem;
    

}

.information_title{
    color:var(--text-color)
}
 

.information_content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1;
    
}


.information_text{
    line-height: 1.7;
}

.information_list ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.information_list_item {
    display: flex;
    align-items: center;
    gap:.5rem;
}

.information_list_item i{
    color: var(--text-color);
    font-weight: var(--bold-weight);
}

.information_img-content{
    overflow: hidden;
    border-radius: 3.7rem 0rem;
    width: 100%;
    height: 80%;
    z-index: 1;
}

.information_img-content img{
    width: 100%;
}

.information_img-content:hover img{
  transform: scale(1.1);
}
.btn-primary{
    background-color: var(--primary-color);
    
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 30px;
    padding: 1rem  2rem;
    position: relative;
    margin: 10px 0;  
    display:flex;    
    align-items: center;
    gap: .5rem;
    max-width: max-content;
    z-index: 1;
}
@media screen and (max-width: 768px){
    :root{
        /* tipografia  */
        --big-size: 3rem;
        --h1-size: 2.5rem;
        --h2-size: 2rem;
        --h3-size: 1.5rem;
        --h4-size: 1rem;
        --h5-size: .7rem;
        --text-size: .5rem;
    }

    .flex{
        gap: 1rem;
        flex-direction: column;
    }

    .navbar_menu{
        position: fixed;
        top: -100rem;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--secondary-color);
        flex-direction: column;
    }

    .navbar_menu_show{
        top: 0;
    }

    .navbar_toogle{
        display: block;
    }
    .navbar_close{
        display: block;
    }
    
    .information_content{
        display: flex;
        
        gap: 1.5rem;
        z-index: 1;
    }
    

}






/* SERVICIOS */
.servicios_cards{
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.servicios_card_item{

    flex: auto;

    background-color: var(--secondary-color);
    border-radius: 2rem;
    padding: 2rem;
}


.card_logo img{
    width: 64px;
    align-items: center;

}